/* Fix SpaceX logo size*/
body {
	background: rgba(0,0,0,0.8);
	margin: 0;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
	content: '';
	height: 100vh; /* All device 100% viewport height*/
	width: 100%;
	background-image: url(https://wallpapercave.com/wp/qx0A2ce.jpg); /* Space image here*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	transition: all 1000ms;
}

.showcase:hover::after {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	transition: all 1000ms;
}

.showcase .content {
	filter: blur(4px);
	-webkit-filter: blur(4px);
	transition: all 1000ms;
}
.showcase .content:hover {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	transition: all 1000ms;
}

.content {
	position: absolute;
	z-index: 1;
	top: 10%;
	margin: auto;
	width: 90vw;
	height: 30vh;
	text-align: center;
	transition: all 1000s;
}

.content .logo {
	margin-right: 10vw;
	height : 180px;
	width: 1080px;
}

.content .title {
	text-shadow: 2px 2px 4px black;
	width: 500px;
	font-size: 1.5em;
	margin:auto;
	margin-right: 10vw;
}

.content .text {
	text-shadow: 2px 2px 4px black;
	width: 500px;
	line-height: 1.7;
	margin: auto;
	margin-top: 1rem;
	margin-right: 10vw;
}

.container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 1rem;
}

.grid-3 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3,1fr)
}

.grid-2 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2,1fr)
}

.center {
	text-align: center;
	margin: auto;
}

.bg-light {
	background: #f4f4f4;
	color: #333;
}

.bg-dark {
	background: #333;
	color: #f4f4f4;
}

footer {
	padding: .35rem;
}

footer p {
	margin: 0;
}

/* Link*/

a:visited {
	color:white;
}

a:hover {
	color: blue;
}

a:active {
	color:red;
}

/* Small Screens */
@media(max-width: 560px) {
	.showcase::after {
		height: 60vh;
	}

	.content {
		top: 5%;
		margin-top: 5px;
		width:100vw;
	}

	.content .logo {
		margin-top:5%;
		margin-left: 10vw;
		width: 400px;
		height: 100px
	}

	.content .title {
		margin: auto;
		margin-left: 10vw;
	}

	.content .text {
		display: none;
	}

	.grid-3,
	.grid-2 {
		grid-template-columns: 1fr;
	}

	.services div {
		border-bottom: #333 dashed 1px;
		padding: 1.2rem 1rem;
	}
}

/* Landscape */
@media(max-height: 500px) {
	.content .title,
	.content .text {
		display: none;
	}

	.content {
		top:0;
	}
}